@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

#player-changer{
    font-size:32px;
    text-align:center;
    display:block;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0 auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid #ccc;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board .square:hover {
  background-color: #ddd;
}
